<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <main class="container">
            <div class="jumbotron">
                <h1 class="center">Devesh Kumar</h1>
                <img id="myImg" src="./Assets/images/pic.jpg" alt="">
                <hr>

                <p>Hello! And thank you for visiting my page.</p>
                <p>
                    I am a full-time student of Software Engineering Technology at Centennial College and it has been a great learning experience at Centennial College so far in last 2 semesters. I have learnt and worked with several programming languages such as C#, JavaScript,
                    Python, SQL, HTML, CSS etc., and tools like Linux, Jira, Various IDEs, GitHub etc. I have also been introduced to software engineering concepts such as Agile, SDLC models to name a few. I have also developed multiple projects using
                    C#, JavaScript, HTML, CSS, SQL, and other tools. I have shared GitHub links for these projects and other details in my resume. In my 3rd semester right now, I am learning Java, Angular, Node.js and advanced database concepts using
                    SQL and MongoDB. </p>
                <p>Additionally, I have also completed several investment management courses and certifications such as:
                    <ul>
                        <li>CFA Level 1 Passed</li>
                        <li>Investment Funds in Canada (IFIC)</li>
                        <li>Canadian Securities Course (CSC)</li>
                        <li>Conduct and Practice Handbook (CPH)</li>
                        <li>Derivatives Fundamentals and Options Licensing (DFOL)</li>
                    </ul>
                </p>
                <p>I have been an Investments / Banking industry professional for more than 3 years now. I have worked with RBC Royal Bank in past for 18 months. Presently, I am employed full-time with TD Waterhouse as Investment Representative. In the past
                    I have also worked with other compnies such as Hilton Hotels and Cheapoair.com.</p>

                <br><br>


                <a href="./Assets/DeveshKumarResume.pdf"><img class="autoImage" src="./Assets/images/resume.png" alt=""></a>

            </div>
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>