<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <main class="container">
            <div class="jumbotron">
                <h1 class="center">My Projects</h1>
                <br>
                <hr>
                <h3 class="center">C# : BMI Calculator</h3>
                <hr>
                <br>
                <div class="center"><img src="./Assets/images/bmiCalc.png" alt="BMI Calc">
                    <br>
                    <p>Developed the code to design the BMI calculator using C# forms.</p>
                    <p><a href="https://github.com/portretrieve/BMI-Calculator">https://github.com/portretrieve/BMI-Calculator</a></p>
                </div>
                <br>
                <hr>
                <h3 class="center">Slot Machine</h3>
                <hr>
                <div class="center"><img src="./Assets/images/slotMachine.png" alt=" ">
                    <br>
                    <br>
                    <p>Created Casino Slot Machine Game using HTML, CSS, JavaScript, TypeScript and EaselJS</p>
                    <p><a href="https://portretrieve.github.io/COMP125-Assignment-4-CreateJS-Slot-Machine/">https://portretrieve.github.io/COMP125-Assignment-4-CreateJS-Slot-Machine/</a>
                    </p>
                </div><br>
                <br>
                <hr>
                <h3 class="center ">Dice Roller</h3>
                <hr><br>
                <div class="center "><img src="./Assets/images/diceRoller.png " alt="Travel"><br><br>
                    <p>Created Dice Roller Game using HTML, CSS, JavaScript, TypeScript and EaselJS.</p>
                    <p> <a href="https://portretrieve.github.io/COMP125-Final-Test/">https://portretrieve.github.io/COMP125-Final-Test/</a>
                    </p>
                </div>
            </div>
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>