<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">   
  <div class="jumbotron">
    <h1 class="center">Services I Provide</h1>
                <br>
                <hr>
                <h3 class="center">Front End Development</h3>
                <hr>
                <br>
                <div class="center"><img src="./Assets/images/frontend.png " alt="Frontend">
                <br><br>
                <p>I provide Front-End Development services using my skills and knowledge of languages such as HTML, CSS and JavaScript. Presently, in my 3rd semester right now, I am learning  Node.js, Express.js, Angular and advanced database concepts using SQL and MongoDB.</p>
                </div>
                
                <hr>
                <h3 class="center ">Back End Development</h3>
                <hr><br>
                <div class="center "><img src="./Assets/images/backend.jpg " alt="Backend"><br><br>
                <p>I also provide services for Backend Development using C#. In my 3rd semester right now, I am also learning Java and Node.js.</p>
                </div>
                <hr>
                <h3 class="center ">Trading and Finance</h3>
                <hr>
                <div class="center"><img src="./Assets/images/trading.png " alt=" "><br><br>
                <p>Being an options trader, I love to watch, read and learn about Options & Futures trading. Now being a Software Engineering Technology Student, I have also been devoting a lot my time studying and learning new technologies. I provide support for developing algorithmic trading strategies.</p>
                </div>
  </div>
</main>
    
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>